body {
  font-family: sans-serif;
}

th {
  text-align: left;
  padding-bottom: 10px;
  width: 200px;
}

td {
  height: 30px;
}

#submit-data {
  margin: 20px;
}

#input-image {
  margin: 20px;
}

#display-image {
  width: 64px;
  height: 64px;
}
